.container {
  padding-top: 80px;
}
.grid-box > div {
  background: linear-gradient(to right, #eebebefe, #eee8befe);
  align-items: center;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
  font-weight: 700;
  color: #fa5c5c;
}
